*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-header img{
    width: 100px;
}
/*MENU MOBILE*/
.main-header {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #C8B497;
    border-bottom: 3px solid #fff;
}
.navbar-toggler{
    font-size: 15px;
    background-color: #fff;
}
.offcanvas-title{
    color: #fff;
}
.btn-close{
    background-color: #fff;
}
.offcanvas{
    background-color: #C8B497;
}
.main-header i {
    
    color: #fff;
}

.cart-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Burbuja del contador */
.cart-count {
    background-color: #ff4d4d;
    color: white;
    font-size: 13px;
    font-weight: bold;

    width: 22px;
    height: 22px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajuste del ícono */
.cart-icon i {
    font-size: 24px;
    color: #fff;
}

.ul-content-mobile{
    padding-top: 15px;
}
.li-content-mobile{
    list-style-type: none;
    padding-top: 18px;
}
.li-content-mobile a {
    text-decoration: none;
    color: #fff;
}
.li-content-mobile a:hover{
    color: gray;
}

/*MENU DESCKTOP*/

.li-content{
    list-style-type: none;
    padding-left: 60px;
}
.li-content a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    transition: 0.3s;
}
.li-content a:hover{
    color: gray;
}

/*CAROUSEL*/
.section1-bg{
    background-color: #F5F5DC;
  
}

.carousel-inner{
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    margin: 0 auto;
}
.carousel-item img {
    width: 100%;
    height: 580px;
    object-fit: cover;
    object-position: center;
}


.grid-area{
    display: grid;
    grid-template-columns: 300px 1fr;
}

/* ----- ASIDE ------*/

.filters {
    padding: 20px;
    background: #f7f3ef;            
    width: 300px;
    margin-top: 112px;
}



.filters h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #4a3f38;         
}


.filter-section {
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6dccf;
}


.filter-search {
    width: 100%;
    padding: 10px;
    border: 1px solid #d8cfc4;
    border-radius: 8px;
    font-size: 14px;
    background: #fff;
    color: #4a3f38;
}


.filter-section label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 6px 0;
    font-size: 14px;
    color: #4a3f38;
    cursor: pointer;
}

.filter-section input[type="checkbox"] {
    accent-color: #8a6f5a;  
}


.price-slider {
    width: 100%;
    margin: 10px 0 15px;
}


.price-inputs {
    display: flex;
    gap: 10px;
}

.price-inputs input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #d8cfc4;
    font-size: 14px;
}


.apply-price {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    background: #8a6f5a;        
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s;
}

.apply-price:hover {
    background: #6d5646;
}


/*SECTION PRODUCTOS*/
.h2-product{
    text-align: center;
    padding-top: 75px;
    border-bottom: 1px solid #eee;
    color: #4A3F38;
}
.container-productos{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 30px;
   padding: 60px;
}
.producto{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}
.producto img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
    border-radius: 3px;
}
.producto h3 {
    margin: 5px 0;
    font-size: 20px;
    min-height: 2em; 
    color: #4A3F38;
}
.producto p {
    font-weight: bold;
    color: #C8B497;
    margin-bottom: 15px;
    margin-top: auto;
    font-size: 19px;
}
.btn-ver{
    color: #fff;
    padding: 5px;
    background-color: #C8B497;
    border-radius: 10px;
    border: #C8B497;
    margin-bottom: 15px;
    transition: 0.3s;
}
.btn-ver:hover{
    background-color: #8a6f5a;
}
.btn-agregar{
    background-color: #C8B497;
    padding: 6px;
    color: #fff;
    border: #C8B497;
    transition: 0.3s;
}
.btn-agregar:hover{
    background-color: #8a6f5a;
}
/*PRODUCTOS SHOP*/
.shop-product-section{
    background-color: #F5F5DC;
}
.shop{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
.info-product-content{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 40%;
   padding: 20px;
}
.info-product-content h2{
    color: #4A3F38;
    padding: 10px;
}
.shop img{
     width: 350px;
    height: 450px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
    border-radius: 3px;
}
.info-product-content span{
    font-size: 32px;
    color: #8a6f5a;
    padding-bottom: 10px;
}
.info-product-content h3{
    font-size: 19px;
    color: #4A3F38;
}
.info-product-content p{
    color: #4A3F38;
}
.info-product-content button{
    background-color: #8a6f5a;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}
.info-product-content button:hover{
    background-color: #C8B497;
}

/*SECTION COMUNICADO*/
.container-comunicado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    background-color: #F5F5DC;
    grid-area: comunicado;
}
.comunicado{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}
.comunicado i {
    font-size: 35px;
    color: #8a6f5a;
    padding: 10px;
}
.redes-icon i{
    padding-left: 20px;
    
}
.linear{
    border-left: 0.5px solid gray ;
    border-right: 0.5px solid gray;
}
.comunicado h3{
    font-size: 17px;
    padding: 10px;
    color: #4A3F38;
}
.comunicado p{
    padding: 18px;
}

/*FOOTER*/
.foot p{
    text-align: center;
    padding-top: 50px;
}
/*MEDIAS*/

@media (max-width: 900px){
    .container-productos{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 847px){
    .navbar{
        display: none;
    }
    .main-header{
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;
    }
    .cart-icon{
        position: static;
    }
    .ul-content{
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    .main-header i {
        padding: 0;
        margin-left: 20px;
    }
    
}
@media (max-width: 846px){
    .main-header{
        justify-content: space-between;
    }
    .ul-content{
        display: none;
    }
    .carousel-inner{
        width: 100% !important;
        max-height: 300px;
    }
    .carousel-item img{
        height: 300px;
    }
    .container-comunicado{
        flex-direction: column;
    }
    .comunicado{
        border-bottom: 1px solid gray;
    }
    .linear{
        border-left: none;
        border-right: none;
       
    }
    .comunicado h3 {
        font-size: 16px;
    }
    .comunicado p{
        font-size: 12px;
        
    }
   

    .shop{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .info-product-content{
        width: auto;
        align-items: center;
    }
   
    .producto-card{
    display: none;
 }
 .dsp-none{
    display: none;
 }
    .carousel-none{
        display: none;
    }
}

@media (max-width: 615px){
    .grid-area{
        grid-template-columns: 1fr;
    }
    .filters{
        width: 100%;
    }
}

@media (max-width: 365px){
    .info-product-content h2{
        font-size: 22px;
    }
}